permissions:
  contents: write
on:
  push:
    tags:
      - "v*" # run only against tags
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v6
      - name: jq props and store module
        run: |
          echo "version=$(cat module.json | jq -r .version)" >> $GITHUB_ENV
          echo "minimum=$(cat module.json | jq -r .compatibility.minimum)" >> $GITHUB_ENV
          echo "verified=$(cat module.json | jq -r .compatibility.verified)" >> $GITHUB_ENV


          changelog_contents=""
          inside_section=false
          while IFS= read -r line; do
            if [[ $line == "# Version "* ]]; then
              if [ "$inside_section" = false ]; then
                inside_section=true
              else
                break
              fi
            fi
            if [ "$inside_section" = true ] && [[ $line != "# Version"* ]]; then
              changelog_contents="$changelog_contents$line"$'\n'
            fi
          done < changelog.md
          echo "$changelog_contents" > latest.md
      - name: cleanup and zip
        run: |
          rm -rf .git .github
          rm *.md
          rm *.sh
          rm LICENSE
          zip -r maps-in-cyberspace.zip .
      # https://github.com/marketplace/actions/gh-release
      - uses: softprops/action-gh-release@v2
        with:
          body_path: latest.md
          tag_name: v${{ env.version }}
          files: module.json
      - name: foundry release
        run: |
          JSON_PAYLOAD=$(cat <<EOF
          {
            "id": "maps-in-cyberspace",
            "dry-run": false,
            "release": {
              "version": "${{ env.version }}",
              "manifest": "https://github.com/CodaBool/maps-in-cyberspace/releases/download/v${{ env.version }}/module.json",
              "notes": "https://github.com/CodaBool/maps-in-cyberspace/blob/main/changelog.md",
              "compatibility": {
                "minimum": "${{ env.minimum }}",
                "verified": "${{ env.verified }}"
              }
            }
          }
          EOF
          )

          curl -s -X POST https://api.foundryvtt.com/_api/packages/release_version \
            -H "Content-Type: application/json" \
            -H "Authorization: ${{ secrets.FOUNDRY_TOKEN }}" \
            -d "$JSON_PAYLOAD"
